@model Prueba_Trejo.Models.ViewPerson.Person
@{
    ViewBag.Title = "deletePerson";
}

<h2>Eliminar Persona</h2>
<h3>Eliminar a @Model.name?</h3>
<div style="text-align:right;">
    <input type="submit" class="btn btn-success" value="Guardar" />

</div>

